<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion</title>
</head>
<body>
    <h1>Conversion</h1>
   {% for row in data %}
   <p>Conversion from :{{row.0}}</p>
   <p>Conversion to: {{row.3}}</p>
   <p>Input number: {{number}}</p>
   <p>Result :{{number * row.4}} {{row.3}}</p>
   <hr>
   {% endfor %}
</body>
</html>